* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
color: rgb(51, 71, 91)

}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.body-wrapper {
    margin: auto;
    width: 1024px;
}

.wrapper {
    margin: auto;
    margin: 0 80px;
}

.wrapper-center {
    width: 60%;
    margin: auto;
}

/* HEADER */

header {
    background-color: rgb(244, 249, 253);
}

/* NAV */

header nav {
    padding: 10px 0;
}

header .col {
    display: inline-block;
    width: calc(50% - 3px)
}

header nav > .col.lft * {
    color:rgb(51, 71, 91)
}

header .col.lft > select {
    margin-right: 10px;
    border: none;
    background-color: transparent;
}

header nav > .col.lft > span {
    padding-left: 10px;
    font-size: 14px;
}

header .co.lft > select > option {
    border: none;
}

header .col.rght {
    text-align: right;
}

header nav .col.rght * {
    margin: 0 5px;
}

header nav > .col.rght > input {
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
}

header .col.rght > input:nth-child(2) {
    border: 1px solid rgb(254, 119, 90);
    color: rgb(254, 119, 90);
    background-color: transparent;
}

header .col.rght > input:nth-child(3){
    background-color: rgb(254, 119, 90);
    color:white;
}

/* SECTION NAV */

section nav{
    background-color: white;
    padding: 15px 0;
    
}

section nav .col {
    display: inline-block;
    width: calc(50% - 3px);
}

section nav > .col.lft img {
    vertical-align: middle;
}

 section nav >.col.rght > ul {
    list-style-type: none;
    vertical-align: middle;
    text-align: right;
}

 section nav > .col.rght > ul > li {
    display: inline-block;
    padding-right: 10px;
    font-size: 14px;

}

 section nav > .col.rght > ul a {
    text-decoration: none;
}

section nav > .col.rght > ul select {
    padding-right: 5px;
    border: none;
}

/* MAIN */
/* Article */
article input {
    background-color: rgb(254, 119, 90);
    color:white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
}

/* Jumbo */

article.jumbotron > #jumbo-bg {
    background-image: url(img/jumbotron.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

article.jumbotron .col {
    width: 50%;
    padding-top: 40px;
    padding-bottom: 160px;
}

article.jumbotron .col > h1{
    font-size: 40px;
}

article.jumbotron .col > p {
    padding: 25px 0;
    font-size: 12px
}

/* Services */
/* Top Row */

article.services {
    background-color: rgb(244, 249, 253);
}

article.services > .features *:not(input) {
}

article.services > .features p {
    font-size: 12px;
    padding-top: 20px;
}

article.services > .features .wrapper-center {
    text-align: center;
}

article.services > .features .row.top img {
    height: 200px;
    width: 200px;
    object-fit: contain;
}

article.services > .features .row.top h2 {
    text-transform: capitalize;
}

/* Middle Row */

article.services > .features .row.middle{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
}

article.services > .features .row.middle > .col.rght .img-container > img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

article.services > .features .row.middle > .col.lft > h4 {
    display: inline-block;
}

article.services > .features .row.middle > .col.lft > hr {
    display: inline-block;
    width: 400px;
}

article.services > .features .row.middle > .col.lft > ul {
    list-style: none;
}

article.services > .features .row.middle > .col.lft > ul > li {
    display: inline-block;
}

article.services > .features .row.middle > .col.lft > ul > li > span {
    padding: 3px;
    border-radius: 50%;
    background-color:rgb(254, 119, 90)
    font-size: 5px;
}