* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
color: rgb(51, 71, 91)

}

html {
    font-family: Arial, Helvetica, sans-serif;
}
/* 
.body-wrapper {
    margin: auto;
    width: 1024px;
} */
 /*WRAPPERS UTILITY CLASSES  */

.wrapper {
    /* margin: auto;
    margin: 0 80px; */
    width: 1024px;
    margin: auto;
}

.img-container {
    margin: auto;
}

.box {
    text-align: center;
}

/* HEADER */

header {
    background-color: rgb(244, 249, 253);
    border-bottom: 2px solid rgb(51, 71, 91);

}

/* NAV */

header nav {
    padding: 10px 0;
}

header .col {
    display: inline-block;
    width: calc(50% - 3px)
}

header nav > .col.lft * {
    color:rgb(51, 71, 91)
}

header .col.lft > select {
    margin-right: 10px;
    border: none;
    background-color: transparent;
}

header nav > .col.lft > span {
    padding-left: 10px;
    font-size: 14px;
}

header .co.lft > select > option {
    border: none;
}

header .col.rght {
    text-align: right;
}

header nav .col.rght * {
    margin: 0 5px;
}

header nav > .col.rght > input {
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
}

header .col.rght > input:nth-child(2) {
    border: 1px solid rgb(254, 119, 90);
    color: rgb(254, 119, 90);
    background-color: transparent;
}

header .col.rght > input:nth-child(3){
    background-color: rgb(254, 119, 90);
    color:white;
}

/* SECTION NAV */

section nav{
    background-color: white;
    padding: 15px 0;
    
}

section nav .col {
    display: inline-block;
    width: calc(50% - 3px);
}

section nav > .col.lft img {
    vertical-align: middle;
}

section nav >.col.rght > ul {
    list-style-type: none;
    vertical-align: middle;
    text-align: right;
}

section nav > .col.rght > ul > li {
    display: inline-block;
    padding-right: 10px;
    font-size: 14px;
    
}

section nav > .col.rght > ul a {
    text-decoration: none;
}

section nav > .col.rght > ul select {
    padding-right: 5px;
    border: none;
}

/* MAIN */
/* Article */

main > article p {
    padding: 35px 0;
    font-size: 15px;
    

}
article a {
    background-color: rgb(254, 119, 90);
    color:white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
}

article.services > .features .img-container {
    width: 120px;
    height: 120px;
}

article.services > .features .img-container > img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    object-position: center;
}    

/* Jumbo */

article.jumbotron {
    /* padding-top: 100px;
    padding-bottom: 280px; */
    background-image: url(img/jumbotron.png);
    background-size: cover;
    /* background-size: contaim; */
    background-repeat: no-repeat;
    background-position: bottom;
}

article.jumbotron .col.lft {
    width: 50%;
    /* padding-top: 150px;
    padding-bottom: 400px; */
}

article.jumbotron .col > h1{
    font-size: 40px;
}

/* article.jumbotron .col > p {
    padding: 25px 0;
    font-size: 12px
} */

/* Services */
/* Top Row */

article.services {
    background-color: rgb(244, 249, 253);
}

/* article.services > .features p {
    font-size: 12px; */
    /* padding: 25px 0; */
/* } */

article.services > .features .wrapper-center {
    text-align: center;
}

.row.top {
    text-align: center;
}

article.services > .features .row.top img {
    height: 200px;
    width: 200px;
    object-fit: contain;
}

article.services > .features .row.top h2 {
    text-transform: capitalize;
}

/* Middle Row */

article.services > .features .row.middle{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    /* padding: 50px 60px; */
}

article.services > .features .row.middle:after {
    content: "";
    display: table;
    clear: both;
}    

article.services > .features .row.middle > .col {
    display: inline-block;
    float: left;
    margin: 50px 60px;

}

article.services > .features .row.middle > .col.lft {
    width: calc(20% - 60px);
}

article.services > .features .row.middle > .col.rght  {
    width: calc(70% - 120px);
}

article.services > .features .row.middle > .col.rght > h4 {
    display: inline-block;
    padding-right: 40px;

}

article.services > .features .row.middle > .col.rght > hr {
    display: inline-block;
    width: 280px;
}

article.services > .features .row.middle > .col.rght > ul {
    list-style: none;
    padding-top: 25px;
}

article.services > .features .row.middle > .col.rght > ul > li {
    display: inline-block;
    vertical-align: middle;
    line-height: 17px;

}

article.services > .features .row > .col > ul > li > span {
    padding: 3px 5px;
    vertical-align: middle;
    border-radius: 50%;
    background-color:rgb(254, 119, 90);
    color: white;
    font-size: 8px;
    margin: 15px
}

article.services > .features .row.middle > .col.rght > ul > li > span#first-of-line {
    margin-left: 0;
}

/* Bottom Row */

article.services > .features .row.bottom > .col {
    float: left;
    text-align: center;
    width: 33%;
    background-color: white;
}

article.services > .features .row.bottom:after {
    content: "";
    display: table;
    clear: both;
}

article.services > .features .row.bottom > .col > ul {
    list-style: none;
}

article.services > .features .row.bottom > .col > ul a {
    margin-top: 40px;
}

