* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(51, 71, 91)
}

html {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    padding: 35px 0;
    font-size: 15px;
}


 /*WRAPPERS UTILITY CLASSES  */

.wrapper {
    width: 1024px;
    margin: auto;
}

.wrapper.smaller {
    padding: 0 100px;
}

.img-container {
    margin: auto;
}

.box {
    text-align: center;
}

/* HEADER */

header {
    background-color: rgb(244, 249, 253);
    border-bottom: 2px solid rgb(51, 71, 91);
}

/* NAV */

header nav {
    padding: 10px 0;
}

header .col {
    display: inline-block;
    width: calc(50% - 3px)
}

header nav > .col.lft * {
    color:rgb(51, 71, 91)
}

header .col.lft > select {
    margin-right: 10px;
    border: none;
    background-color: transparent;
}

header nav > .col.lft > span {
    padding-left: 10px;
    font-size: 14px;
}

header .co.lft > select > option {
    border: none;
}

header .col.rght {
    text-align: right;
}

header nav .col.rght * {
    margin: 0 5px;
}

header nav > .col.rght > input {
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
}

header .col.rght > input:nth-child(2) {
    border: 1px solid rgb(254, 119, 90);
    color: rgb(254, 119, 90);
    background-color: transparent;
}

header .col.rght > input:nth-child(3){
    background-color: rgb(254, 119, 90);
    color:white;
}

/* SECTION NAV */

section nav{
    background-color: white;
    padding: 15px 0;

}

section nav .col {
    display: inline-block;
    width: calc(50% - 3px);
}

section nav > .col.lft img {
    vertical-align: middle;
}

section nav >.col.rght > ul {
    list-style-type: none;
    vertical-align: middle;
    text-align: right;
}

section nav > .col.rght > ul > li {
    display: inline-block;
    padding-right: 10px;
    font-size: 14px;

}

section nav > .col.rght > ul a {
    text-decoration: none;
}

section nav > .col.rght > ul select {
    padding-right: 5px;
    border: none;
}

/* MAIN */
/* Article */


article a {
    background-color: rgb(254, 119, 90);
    color:white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    margin-bottom: 40px;
}

article.services {
    padding: 35px 0;
}


article.services > .features .img-container > img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    object-position: center;
}

/* Jumbo */

article.jumbotron {
    background-image: url(img/jumbotron.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  50%;
}

article.jumbotron .col.lft {
    width: 50%;
    padding-top: 97px;
    padding-bottom: 300px;
}

article.jumbotron .col > h1{
    font-size: 40px;
}

/* Green Bar */

main > .green-bar {
    padding: 35px 0;
    background-color: rgb(175, 235, 228);
    border-top: 3px solid rgb(51, 71, 91);
    border-bottom: 3px solid rgb(51, 71, 91);
}

/* Services */
/* Top Row */

article.services {
    background-color: rgb(244, 249, 253);
}

article.services > .features .wrapper-center {
    text-align: center;
}

article.services > .features .row.top {
    text-align: center;
    margin-bottom: 20px;
}

article.services > .features .row.top img {
    height: 200px;
    width: 200px;
    object-fit: contain;
}

article.services > .features .row.top h2 {
    text-transform: capitalize;
}

article.services > .features .row.top p {
    padding-left: 155px;
    padding-right: 155px;
}


/* Middle Row */

article.services > .features .row.middle{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 30px;
}

article.services > .features .row.middle:after {
    content: "";
    display: table;
    clear: both;
}

article.services > .features .row.middle > .col {
    float: left;
    margin: 50px 60px;
}

article.services > .features .row.middle > .col.lft {
    width: calc(20% - 60px);
}

article.services > .features .row.middle > .col.lft .img-container {
    margin-bottom: 20px;
}

article.services > .features .row.middle > .col.rght  {
    width: calc(70% - 120px);
}

article.services > .features .row.middle > .col.rght > h4 {
    display: inline-block;
    padding-right: 40px;
    vertical-align: middle;

}

article.services > .features .row.middle > .col.rght > .line {
    display: inline-block;
    width: 280px;
    border-top: 1px solid rgb(51, 71, 91);
    vertical-align: middle;
}

article.services > .features .row.middle > .col.rght > ul {
    list-style: none;
    padding-top: 25px;
}

article.services > .features .row.middle > .col.rght > ul > li {
    display: inline-block;
    vertical-align: middle;
    line-height: 17px;
    padding-right: 20px;

}

article.services > .features .row > .col > ul > li > span {
    padding: 3px 5px;
    vertical-align: middle;
    border-radius: 50%;
    background-color:rgb(254, 119, 90);
    color: white;
    font-size: 8px;
    font-weight: bold;
    margin-right: 15px;
}

/* Bottom Row */

article.services > .features .row.bottom > .col {
    float: left;
    margin: auto;
    text-align: center;
    width: calc(100% / 3 - 20px);
    background-color: white;
    border: 1px solid lightgray;
    padding: 20px 35px 35px;
    border-radius: 5px;
}

article.services > .features .row.bottom > .col.middle {
    margin: 0 30px;
}

article.services > .features .row.bottom:after {
    content: "";
    display: table;
    clear: both;
}

article.services > .features .row.bottom > .col > .box {
    border-bottom: 1px solid rgb(51, 71, 91);
    margin-bottom: 35px;
}

article.services > .features .row.bottom > .col > ul {
    list-style: none;
    padding-bottom: 55px;
    padding-top: 30px;
    text-align: left;
}

/* Data */

article.data {
    background-image: linear-gradient(to top right, rgb(0, 168, 185), rgb(0, 185, 168));
}

article.data section * {
    color: white;
}

article.data section {
    padding: 40px 0;
    text-align: center;
}

article.data section:after {
    content: "";
    display: table;
    clear: both;
}

article.data section .box {
    width: 25%;
    float:left
}

article.data section .box.row.top {
    border-bottom: 1px solid rgb(172, 228, 231)
}

article.data section .box.row.first,
article.data section .box.row.third {
    border-right: 1px solid rgb(172, 228, 231);
}

article.data section .box.row.second {
    border-right: 1px solid white;
}


article.data section .box.row > * {
    margin: 10px 0;
}

article.data section .box.row h1 {
    font-size: 30px;
}

article.data section .box.row > p {
    padding: 0;
}
article.data section .box.row img {
    width: 115px;
    height: 35px;
    object-fit: contain;
    object-position: center;
}

/* References */

article.references .row.top {
   margin-top: 35px;
}


article.references .row > .box {
    display: inline-block;
}

article.references .row.top > .box.lft {
    width: 20%;
    margin: 0  150px 0 75px;
    text-align: left;
}

article.references .row.top > .box.lft h1 {
    font-size: 30px;
}

article.references .row.top .img-container {
    display: inline-block;
    padding: 0 5px;
}

article.references .row.top .box.rght,
article.references .row.bottom .box.rght {
    width: 50%;
}

article.references .row.top .img-container > img {
    width: 100px;
    height: 50px;
    object-fit: contain;
}

article.references .row.bottom > .box.lft {
    width: 35%;
    text-align: left;
    margin-right: 120px;

}

article.references .row.bottom .img-container > img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    object-position: right;
}

/* FOOTER */

/* top row */

footer {
    background-color: rgb(50, 73, 91);
    height: 300px:
}

footer * {
    color: rgb(196, 207, 219)

}

footer p {
    font-weight: bold;
    color: white;

}

footer .row.top > .col{
    width: 25%;
    float: left;

}

footer .row.top::after {
    content: "";
    display: table;
    clear: both;
}

footer .row.top > .col > ul {
    padding-bottom: 15px;
}

footer .row.top > .col > ul > li {
    padding-bottom: 15px;
}

footer .row.top > .col a {
    padding: 10px 15px;
    border-radius: 5px;;
    background-color: lightgrey;
    color: rgb(51, 71, 91)
}

footer .row.top > .col > .img-container > img {
    margin-top: 30px;
}

footer .row.middle {
    text-align: center;
    margin-top: 60px;
    border-bottom: 1px solid rgb(196, 207, 219);
    padding-bottom: 10px;
}

footer .row.middle > span {
    padding-left: 15px;
    padding-bottom: 10px;
}

footer .row.bottom {
    padding-top: 30px;

}

footer .row.bottom > .col{
    display: inline-block;
    width: calc(50% - 2px);
    padding-bottom: 50px;
}

footer .row.bottom > .col.lft > p {
    padding: 0;
    font-weight: unset;
}

footer .row.bottom > .col.rght {
    text-align: right;
    vertical-align: top;
}